doctype html
html
  head
    title MURICA
    meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")

    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css')
    link(rel='stylesheet', href='/stylesheets/client.css')

    link(rel="icon", type="image/png", href="images/icon.png")
    script(src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/pusher/2.1.6/pusher.min.js")

  body
    div#container
      header
        p Blow harder

    script.
      //var ClientSpace = {};
      $('body').on('touchmove', '.scrollable', function(e) {
        e.stopPropagation();
      });
