body {
  background-color: black;
  background: url('../images/stardust.png');
  color: white;
  margin: 0;
  padding: 0;
}

#base {
  width: 200px;
  min-height: 200px;
  position: fixed;
  box-shadow: 1px -70px 200px 83px yellow;
  opacity: .6;
  bottom: -36%;
  left: 45%;
  border-radius: 107px;
}

#pole {
  width: 10px;
  height: 70%;
  position: fixed;
  bottom: 0;
  left: 51%;
  background-color: white;
  border: 1px solid black;
}
#pole:before {
  position: absolute;
  top: -14px;
  left: -5px;
  display: block;
  background-color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  content:'';
}

.title {
  position: fixed;
  top: 25px;
  right: 50px;
  font-size: 3rem;
}

footer {
  position: fixed;
  bottom: 25px;
  right: 50px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Gnuolane Regular', san-serif;
  margin-top: 0;
}

@font-face {
  font-family: 'Gnuolane Regular';
  src: url("../fonts/gnuolane_regular/gnuolane_rg-webfont.eot");
  src: url("../fonts/gnuolane_regular/gnuolane_rg-webfont.eot?iefix") format("eot"), url("../fonts/gnuolane_regular/gnuolane_rg-webfont.woff") format("woff"), url("../fonts/gnuolane_regular/gnuolane_rg-webfont.ttf") format("truetype"), url("../fonts/gnuolane_regular/gnuolane_rg-webfont.svg#webfontZam02nTh") format("svg");
  font-weight: normal;
  font-style: normal; }
